{
  "@context": [
     "https://test.data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod/kandidaatstandaard/20200112/context/mobiliteit-trips-en-aanbod-ap.jsonld",
     "https://test.data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/zonderstatus/2018-10-04/context/generiek-basis.jsonld",
     {
       "Resource": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Resource.vervoermiddel"
    },
     { "is_disabled": "https://github.com/NABSA/gbfs/blob/v2.0/gbfs.md#is_disabled",
       "is_reserved" : "https://github.com/NABSA/gbfs/blob/v2.0/gbfs.md#free_bike_status",
       "lat" : "https://github.com/NABSA/gbfs/blob/v2.0/gbfs.md#lat",
       "lon" :  "https://github.com/NABSA/gbfs/blob/v2.0/gbfs.md#lon",
     }
     
   ],

  "@type": "Vervoermiddel.fiets",
  "@id": "https://gbfs.provider/id/fiets/{{bike_id}}",
  "identificator": {
    "Identificator.identificator" : "{{bike_id}}"
  }, 
   "Free_bike_status":  {
	"is_disabled" :  "{{is_disabled}}",
	"is_reserved" : "{{is_reserved}}",
        "lat" : "{{lat}}",
        "lon" : "{{lon}}"
   }

}
