{
  "@context": [
     "https://test.data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod/kandidaatstandaard/2020-04-09/context/mobiliteit-trips-en-aanbod-ap.jsonld",
     "https://test.data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/zonderstatus/2018-10-04/context/generiek-basis.jsonld",
     {
       "Resource": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Resource.vervoermiddel",
       "Resource.status": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Resource.status",
       "Vehicle.Event": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Vehicle.Event",
       "Vehicle.reserved": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Vehicle.reserved",
       "Vehicle.disabled": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Vehicle.disabled",       
       "Resource.type": "https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod#Resource.type",       
       "Resource.ruimtelijkedekking" :  "http://purl.org/dc/terms/spatial"
     }
   ],

  "@type": "Resource",
  "@id": "https://gbfs.provider/id/resource/{{bike_id}}",
  "identificator": {
    "Identificator.identificator" : "{{bike_id}}"
   }, 
   "Resource":  {
        "Resource.type" : "Vervoermiddel.fiets",
	"Resource.status" : {
	   "Vehicle.Event" : {
	      "@type" : "Vehicle.Event",
	      "Vehicle.reserved" : "{{is_reserved}}",
	      "Vehicle.disabled" : "{{is_disabled}}"
	   } },
	"Resource.ruimtelijkedekking": {
	      "@type" : "Punt",
              "wkt": "POINT({{lat}} {{lon}})",
  	      "gml": "<gml:Point srsName=\"http://www.opengis.net/def/crs/OGC/1.3/CRS84\"> <gml:pos>{{lon}} {{lat}}</gml:pos></gml:Point>"
	}
   }
}
